<?xml version="1.0" encoding="UTF-8"?>



<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">        
    
    <display-name>wicket</display-name>
    
    <!-- JSF Servlet is defined to container -->              
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/dispatcher-servlet.xml
<!--             classpath:service-context-->
        </param-value>
    </context-param>
    

    <!-- 
        This listener runs when the app is first started. It instantiates the ApplicationContext (from 
        WEB-INF/applicationContext.xml) and places a and places areference to it in the ServletContext
    -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- 
        This listener is needed if you declare any of your beans to be request-scoped or session-scoped
        X• Web scopes instead of the usual Spring scopes of singleton or prototype
        Lets you give request or session scopes to beans in applicationContext.xml. If you don’t use these scopes, this listener is not required
    -->
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>    
    
 
<!--     Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>                
    
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    
<!--    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/generic-error.xhtml</location>
    </error-page>-->            
    
    <!-- Kodowanie znaków: UTF-8 -->    
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
